@using UserManagement.Data.Models
@{
    ViewData["Title"] = "Users Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="utf-8" />
<title>Datatables | Attex - Bootstrap 5 Admin & Dashboard Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
<meta content="Coderthemes" name="author" />

<!-- Datatables css -->
<link href="~/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css" />

<!-- Theme Config Js -->
<script src="~/assets/js/config.js"></script>

<!-- App css -->
<link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

<!-- Icons css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Users Management</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Primary Branch</th>
                            <th>Primary Department</th>
                            <th>Designation</th>
                            <th>Active</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (ViewBag.UserList != null)
                        {
                            @foreach (var user in (List<UserModel>)ViewBag.UserList)
                            {
                                <tr>
                                    <td>@user.FirstName @user.LastName</td>
                                    <td>@user.Email</td>
                                    <td>@user.Phone</td>
                                    <td>@user.PrimaryBranchName</td>
                                    <td>@user.PrimaryDepartmentName</td>
                                    <td>@user.DesignationName</td>
                                    <td>@(user.IsActive ? "Active" : "Inactive")</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div> 
        </div> 
    </div>
</div>

<!-- Vendor js -->
<script src="~/assets/lib/jquery/jquery.min.js"></script>

<!-- Datatables js -->
<script src="~/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="~/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="~/assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js"></script>
<script src="~/assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="~/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
<script src="~/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="~/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

<script>
    $('#basic-datatable').DataTable({
        "paging": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "pageLength": 10,
        "lengthMenu": [10, 25, 50, 100]
    });
</script>

